@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
body{
  font-family: 'Roboto', sans-serif, 'arial';
}
.footer_menu li {
  display: inline-block;
}

.footer_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_menu {
  margin-top: 30px;
  margin-bottom: 100px;
}

.footer_menu li a {
  text-transform: uppercase;
  color: #333;
  padding: 7px;
}
a.logo {
  color: #000;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainmenu li {
  display: inline-block;
}

.mainmenu li a {
  display: block;
  padding: 6px;
  font-size: 19px;
  text-transform: uppercase;
  color: #000;
  position: relative;
}

.mainmenu li a:hover:after {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #000;
  content: "";
  bottom: 4px;
  left: 50%;
  margin-left: -15px;
}

input[type="text"] {
  border: 1px solid;
  padding: 5px;
}

input[type="submit"] {
  border: 1px solid #000;
  background: #000;
  color: #fff;
  padding: 5px 20px;
}
.header {
  padding: 20px;
}

imput:focus {
  outline: none;
}

.content-bolck {
  padding: 50px 0;
}

.Photo-gallery {
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #3246a8;
}
.load-more-page button {
  border: 1px solid;
  background: #85305d;
  color: #fff;
  padding: 5px 18px;
  border-radius: 15px;
}
h2.photo-description {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  padding-top: 12px;
}
.searchimg-info-ara {
  font-size: 25px;
  font-weight: 400;
  color: #656f4d;
  text-transform: uppercase;
}

.single-photo-item h2 {
  font-size: 20px;
}

p.catagory-name {
  text-align: center;
  opacity: .5;
}
.photo-size {
  height: 200px;
}

.photo-size img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.tp-heading {
  padding-bottom: 30px;
}